<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lembrete de Bater Ponto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">
        <h1>Lembrete de Ponto</h1>
        <p>Deixe esta aba aberta. O site irá te avisar às 08:00 e às 12:00.</p>

        <div class="clock" id="clock">00:00:00</div>

        <div class="status" id="status">
            Aguardando próximo lembrete...
        </div>
    </div>
    <button onclick="ativarSom()">Ativar notificações sonoras</button>

    <audio id="alertaSom">
    <source src="{{ url_for('static', filename='som.mp3') }}" type="audio/mpeg">
    </audio>
    <script>
        // pede permissão para enviar notificações
        if ("Notification" in window) {
        if (Notification.permission !== "granted") {
        Notification.requestPermission();
    }
}

        function atualizarRelogio() {
            const agora = new Date();

            const horas = String(agora.getHours()).padStart(2, '0');
            const minutos = String(agora.getMinutes()).padStart(2, '0');
            const segundos = String(agora.getSeconds()).padStart(2, '0');

            const horario = `${horas}:${minutos}:${segundos}`;
            document.getElementById('clock').innerText = horario;

            const status = document.getElementById('status');

            // 08:00
            if (horas === '08' && minutos === '00' && segundos === '00') {
                mostrarNotificacao('Hora de bater ponto!');
                status.innerText = 'Lembrete enviado às 08:00';
            }

            // 12:00
            if (horas === '12' && minutos === '00' && segundos === '00') {
                mostrarNotificacao('Hora de bater ponto novamente!');
                status.innerText = 'Lembrete enviado às 12:00';
            }
        }

        function mostrarNotificacao(texto) {
            const som = document.getElementById('alertaSom');

            som.currentTime = 0;
            som.play();
        if ("Notification" in window) {
        if (Notification.permission === 'granted') {
        new Notification('Bater ponto', {
            body: texto,
            icon: 'https://cdn-icons-png.flaticon.com/512/1827/1827349.png'
        });
    }
}

            alert(texto);
        }
      function ativarSom() {
    const som = document.getElementById('alertaSom');

    if ("Notification" in window) {
        Notification.requestPermission();
    }

    som.play().then(() => {
        som.pause();
        som.currentTime = 0;
        alert('Som ativado com sucesso!');
    }).catch(() => {
        alert('Clique novamente para ativar o som.');
    });
}

        setInterval(atualizarRelogio, 1000);
        atualizarRelogio();
    </script>

</body>
</html>